# Econometrics Analysis in Python

## Load Required Libraries

In [1]:
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from scipy.stats import t
from statsmodels.graphics.gofplots import qqplot
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy.stats import spearmanr

## Set Working Directory

In [ ]:
#dir_wd = r"C:/Users/edmun/OneDrive/Edmundo-ITESM/2.Cursos Impartidos/Econometrics MEK/MEK/Lectures/Lecture 3"
#os.chdir(dir_wd)

## Load Data

In [5]:
data_file = "../data/smoking2.dta"
data = pd.read_stata(data_file)
data.head()

,dmage,dmeduc,dmar,dlivord,nprevist,disllb,dfage,dfeduc,dbirwt,anemia,...,mhispan,fblack,fotherr,fhispan,tripre1,tripre2,tripre3,tripre0,first,death
0,24,16,0,1,12,0,25,16,3771,0,...,0,0,0,0,1,0,0,0,1,0.0
1,25,13,0,1,13,0,29,14,3620,0,...,0,0,0,0,1,0,0,0,1,0.0
2,20,12,1,2,5,29,23,12,3459,0,...,0,0,0,0,0,1,0,0,0,0.0
3,30,14,0,1,10,0,31,12,3430,0,...,0,0,0,0,1,0,0,0,1,0.0
4,25,13,0,2,14,85,25,12,3657,0,...,0,0,0,0,1,0,0,0,0,0.0

## Estimate Linear Model

In [ ]:
model1 = smf.ols('dbirwt ~ tobacco', data=data).fit()
print(model1.summary())

## Mean of Residuals

In [ ]:
mean_residuals = np.mean(model1.resid)
print(f"Mean of residuals: {mean_residuals}")